/*Hoja de estilos Proyecto Floralia*/

@font-face {
    font-family: "Cambo";
    src: url(fonts/cambo.woff2)
}

@font-face {
    font-family: "Trirong400";
    src: url(fonts/trirongRegular.woff2)
}

@font-face {
    font-family: "Trirong500";
    src: url(fonts/trirongMedium.woff2)
}

html{
    color: #0A0F0D;
    display: block;
    background-color: #D9EDE6;
    font-family: "Trirong500", "Times New Roman", serif;
    font-size: 14px;
    text-align: left;
}

body{
    margin: 0;
}

header{
    color: #D9EDE6;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    background-color: #065731;
    border-bottom: 1px solid #94d6aa;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

div.titulo{
    display: flex;
    align-items: center;
    align-content: center;
}

#logo{
    margin: 0;
}

#header-title{
    color: #D9EDE6;
    font-family: "Trirong500", "Times New Roman", serif;
    font-size: 24px;
    text-decoration: none;
    padding: 0 0.2em;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header-title:hover{
    background-color: #94d6aa;
    color: #0A0F0D;
    text-decoration: none;
}

nav.main-menu{
    font-size: 16px;
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
}

nav.main-menu a{
    color: #D9EDE6;
    text-decoration: none;
    padding: 0.4em;
}

nav.main-menu a:hover{
    background-color: #94d6aa;
    color: #0A0F0D;
    text-decoration: none;
}

div.autenticacion{
    font-size: 14px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

#log-in{
    color: #D9EDE6;
    border: 1px solid #D9EDE6;
    border-radius: 15%;
    padding: 0.3em;
    margin-left: 5px;
    margin-right: 5px;
}

#sign-up{
    color: #D9EDE6;
    padding: 0.3em;
    border: 1px solid #D9EDE6;
    border-radius: 15%;
    background-color: #56062B;
    margin-left: 5px;
}

main{
    padding-top: 62px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
}

main p{
    text-align: justify;
    line-height: 1.7em;
    padding-top: 15px;
    margin: 0;
}

main h1, h2{
    font-family: "Trirong400", "Times New Roman", serif;
    padding-top: 15px;
    margin: 0px;
}

h1{
    font-size: 27px;
}

h2{
    font-size: 22px;
    margin-top: 15px;
}

.hero-img{
    position: relative;
    z-index: 1;
    height: 40vh;
    background-image: url(../img/narcissusAsturiensis.jpg);
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.hero-img h1{
    background-color: #D9EDE6;
    padding-top: 10px;
    padding-right: 20px;
    margin: 0;
}

.subhero{
    background-color: #94d6aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin-top: 20px;
}

.subhero-img{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: 25px;
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    border: 1px solid #065731;
}

.subhero-text{
    justify-items: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 25px;
}

.subhero-text h1{
    margin: 0;
}

.discover{
    padding: 10px 0;
}

.discover h1{
    text-align: center;
}

.discover-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin: 10px 0px;
}

button.carrousel{
    color: #D9EDE6;
    font-size: 18px;
    background-color: #56062B;
    border-radius: 20%;
}

#carrousel{
    margin: 0px 25px;
}

.card{
    background-color: #B9A4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.card-img{
    height: 250px;
    width: 250px;
    border: 1px solid #56062B;
    margin-left: 15px;
}

.card-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-text{
    text-align: center;
    width: 180px;
}

.card-text p{
    text-align: center;
    padding-top: 10px;
}

#card-1{
    display: none;
}

#card-2{
    display: none;
}

#card-3{
    display: none;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #065731;
    margin-top: 20px;
    height: 180px;
}

.sign-up h1{
    padding: 0;
}

.register{
    font-size: 20px;
    color: #D9EDE6;
    padding: 0.5em 0.8em;
    border-width: 1px;
    border-radius: 15%;
    background-color: #56062B;
    margin-left: 2.5vw;
}

footer{
    background-color: #94d6aa;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #065731;
    padding-top: 15px;
    padding-bottom: 20px;
}

footer *{
    color:#0A0F0D;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    margin: 0 10px;
}

footer a:hover{
    background-color: #065731;
    color: #D9EDE6;
    text-decoration: none;
}

#error{
    text-align: center;
    height: 750px;
    margin-top: 40px;
}

#error p{
    text-align: center;
}

.pagina {
    text-align: center;
}

.pagina h2{
    text-align: left;
}

.titulo-pagina {
    display: inline-block;
    background-color: #56062B;
    color: #D9EDE6;
    padding: 3px 50px;
}

#enlaces a{
    color:#56062B;
}

.autora-flex{
    display: flex;
    flex: 3fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
}

.icon-box{
    height: 150px;
    width: 150px;
    margin-right: 0;
}

.icon-box img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}